.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .form-wrap {
        padding: 40px;
        border-radius: 10px;
        border: 1px solid #5797FB;
        display: flex;
        width: 400px;
        flex-wrap: wrap;
        .form-item {
            width: 100%;
            height: 40px;
            .form-button {
                width: 100%;
            }
        }
    }

}


