.product-save-page{
    .img-wrap{
        display: flex;
        align-items: center;
        img{
            margin-right: 2rem;
            max-height: 10rem;
        }
    }
    .product-detail{
        .editor{
            max-height: 30rem;
            overflow: hidden;
        }
    }

}